.appui-task-task {
  .appui-task-task-toolbar {
    .bbn-button {
      height: 2rem !important;
      width: 2rem !important;
      font-size: 1.2rem !important;
    }
  }
  .bbn-dashboard {
    position: relative !important;
    height: auto;
    > .bbn-scroll {
      position: relative !important;
    }
    .bbn-basic-component.bbn-widget {
      &.full {
        margin-top: 1rem;
      }
      > div.bbn-content {
        &.bbn-padding {
          padding-bottom: var(--space);
        }
        padding-bottom: 0;
      }
    }
    .appui-note-forum {
      border: 0;
      .bbn-flex-fill {
        position: relative !important;
      }
      .appui-note-forum-toolbar {
        border: 0;
        border-radius: var(--default-border-radius);
        text-align: left !important;
      }
      .appui-note-forum-pager {
        border: 0;
        border-radius: var(--default-border-radius);
      }
    }
  }
}