.appui-task-tab-main {
  .bbn-task-info-ppl{
    padding: 1em;
    div.bbn-block{
      width: 30%;
      img{
        width: 16px;
        height: auto;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .bbn-block{
        white-space: nowrap;
        width: inherit;
      }
    }
    div.bbn-block:nth-child(even) {
      //padding-left: 5%;
      //padding-right: 5%;
    }
  }
  .bbn-task-comments {
    a.media{
      cursor: pointer;
    }
    .bbn-task-comment-author {
      display: inline-block;
      vertical-align: middle;
    }
    .k-header.title {
      height: inherit;
      font-size: inherit;
      padding: 0 .3em 0 0 ;
      .title {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
      }
      .hseparator {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2em;
        width: 1px;
        height: 20px;
        border: 0.1px solid;
      }
    }
    .bbn-task-link-title {
      overflow: hidden;
      height: 96px;
      line-height: normal;
      margin-left: 1em;
    }
  }
  .bbn-task-form-container{
    .bbn-task-form-adder {
      .bbn-grid-fields {
        padding: 0 5em;
        > * {
          white-space: normal;
        }
      }
      min-height: 450px;
      .bbn-task-links-container {
        .bbn-task-link-title {
          margin-left: 15px;
        }
        .bbn-task-link-image {
          i {
            font-size: 64px;
          }
          img {
            vertical-align: middle;
          }
        }
        .bbn-task-link-actions{
          width: 80px;
          justify-content: center;
        }
        .link-progress {
          background-color: lightblue;
        }
        .link-success {
          background-color: inherit;
        }
        .link-error {
          background-color: lightcoral;
        }
      }
    }
  }
  div.bbn-task-actions{
    vertical-align: middle;
    *{
      vertical-align: middle;
    }
  }
}
