/* LESS Document */
@pr1: #F00;
@pr2: #F40;
@pr3: #F90;
@pr4: #FC0;
@pr5: #9B3;
@pr6: #7A4;
@pr7: #5A5;
@pr8: #396;
@pr9: #284;
@pr10: #063;

div.appui-task-nav{
  div.bbn-task-search-container{
    overflow: hidden;
  }

  padding: 0;
  .bbn-task-pr1{
    background-color: @pr1 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr1 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr2{
    background-color: @pr2 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr2 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr3{
    background-color: @pr3 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr3 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr4{
    background-color: @pr4 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr4 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr5{
    background-color: @pr5 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr5 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr6{
    background-color: @pr6 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr6 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr7{
    background-color: @pr7 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr7 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr8{
    background-color: @pr8 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr8 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr9{
    background-color: @pr9 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr9 !important;
        color: white !important;
      }
    }
  }
  .bbn-task-pr10{
    background-color: @pr10 !important;
    color: white !important;
    &.bbn-dropdown-container {
      background-color: initial  !important;
      color: initial  !important;
      input {
        background-color: @pr10 !important;
        color: white !important;
      }
    }
  }

  div.container-placeholder{
    position: absolute;
    bottom: 20px;
    color: #CCC;
    padding: 20px;
    border: 2px dotted #CCC;
    white-space: nowrap;
    text-align: center;
  }

  div.bbn-task-opened-desc{
    width: 50%;
    left: 25%;
  }
  .appui-task-box-shadow {
    box-shadow: 2px 2px 10px 0 var(--default-border);
  }
}