/* LESS Document */

div.appui-task-nav{
  div.bbn-task-search-container{
    overflow: hidden;
  }

  padding: 0;
  .bbn-task-pr1{
    background-color: #F00 !important;
  }
  .bbn-task-pr2{
    background-color: #F40 !important;
  }
  .bbn-task-pr3{
    background-color: #F90 !important;
  }
  .bbn-task-pr4{
    background-color: #FC0 !important;
  }
  .bbn-task-pr5{
    background-color: #9B3 !important;
  }
  .bbn-task-pr6{
    background-color: #7A4 !important;
  }
  .bbn-task-pr7{
    background-color: #5A5 !important;
  }
  .bbn-task-pr8{
    background-color: #396 !important;
  }
  .bbn-task-pr9{
    background-color: #284 !important;
  }
  .bbn-task-pr10{
    background-color: #063 !important;
  }

  div.container-placeholder{
    position: absolute;
    bottom: 20px;
    color: #CCC;
    padding: 20px;
    border: 2px dotted #CCC;
    white-space: nowrap;
    text-align: center;
  }

  div.bbn-task-opened-desc{
    width: 50%;
    left: 25%;
  }
  .appui-task-box-shadow {
    box-shadow: 2px 2px 10px 0 var(--default-border);
  }
}