.appui-task-item {
  .appui-task-item-titlebar {
    align-items: baseline;
    .bbn-button {
      padding: var(--xsspace) !important;
      height: auto !important;
      width: auto !important;
    }
  }
  .appui-task-item-content {
    word-break: break-word;
    white-space: normal !important;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .appui-task-item-reference {
    > * {
      background-color: transparent !important;
    }
  }
  sub {
    font-size: 0.9rem !important;
  }
  .bbn-column-list {
    .bbn-column-list-title {
      margin-left: var(--sspace);
    }
    .bbn-column-list-main {
      padding-top: var(--sspace);
      padding-bottom: var(--sspace);
      .bbn-column-list-items {
        padding: var(--sspace);
      }
    }
  }
}