.appui-task-task-widget-subtasks {
  .bbn-column-list {
    .bbn-column-list-container {
      background-color: var(--alt-background);
    }
    .bbn-column-list-toolbar {
      background-color: var(--default-background);
      color: var(--default-text);
      .appui-task-item-toolbar {
        .bbn-button:not([disabled], .bbn-state-active),
        > .bbn-background {
          background-color: var(--alt-background);
          color: var(--alt-text);
        }
      }
    }
    .bbn-column-list-footer {
      .bbn-pager {
        background-color: var(--default-background);
        color: var(--default-text);
        .bbn-button:not([disabled], .bbn-state-active),
        .bbn-numeric {
          background-color: var(--alt-background);
          color: var(--alt-text);
          .bbn-numeric-buttons {
            > div:not([disabled], .bbn-state-active) {
              background-color: var(--alt-background);
              color: var(--alt-text);
            }
          }
        }
      }
    }
  }
}